testing/config/
testing/hass_venv/
node_modules/
dist/
dist-ssr/
coverage/
*.tsbuildinfo
.eslintcache
.env*
.DS_Store
.idea/
*.swp
*.swo
*~
__pycache__/
*.py[cod]
*.tmp
*.log
home-assistant.log*
OZW_Log.txt
known_devices.yaml
secrets.yaml
.storage/
ip_bans.yaml